.gridportfoliospacer {
    padding-top: 75px;
    padding-bottom: 300px;
    padding-left: 200px;
    padding-right: 200px;
}
.gridportfoliotitle {
    padding-bottom: 50px;
    font-size: 100px;
    color: white;
}
.gridportfoliocontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}
.gridportfolioitem {
    background-color: DimGray;
    padding: 20px;
    height: 300px;
    border: 2px solid white;
    border-left: 10px;
    border-color: white;
    border-style: solid;
    /*background-image: url(background.jpg);*/
}
.gridportfolioitem:hover {
    background-color: grey;
    border-left: 20px;
    padding: 20px 10px 20px 20px;
    border-color: white;
    border-style: solid;
}
.gridportfolioimg {
    width: 100%;
}
.gridportfoliodescription {
    /*text-align: center;*/
    color: #FFFFFF;
    font-size: 30px;
    margin: 10px 0px 0px 0px;
}
@media (max-width: 1200px) {
    .gridportfoliospacer {
        padding-left: 50px;
        padding-right: 50px;
    }
    .gridportfoliotitle {
        font-size: 80px;
    }
    .gridportfoliocontainer {
        grid-template-columns: 1fr;
    }
    .gridportfolioitem {
        height: 30vh;
    }
}