.productlistcontainer {
    padding: 50px 200px;
}

@media (max-width: 1200px) {
    .productlistcontainer {
        padding: 50px 50px;
    }
}

.card {
    flex: 0 0 280px;
    padding: 16px;
    background: white;
    border: 2px solid transparent;
    width: 100%
}
.card:hover {
    border-color: white ;
}
.cardcontainer {
    flex-direction: row;
}
@media (max-width: 1200px) {
    .card {
        width: unset
    }
    .cardcontainer {
        flex-direction: column;
    }
}
.cardbuy {
    background-color: dimgray;
    color: white;
}
.cardbuy:hover {
    background-color: lightgray;
    color: black;
}
